[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
ipykernel = "*"
numpy = "*"
pylint = "*"
matplotlib = "*"
scipy = "*"
imageio = "*"
autopep8 = "*"
setuptools = "*"
cython = "*"
future = "*"
torch = "==1.2.0"
torchvision = "==0.4.0"

[requires]
python_version = "3.6"
